<html>
	<head>
		<title>Html template</title>
	</head>
	<body>
	<div>
		<h1>Hello World</h1>
	</div>
	
	<div>
		<h2>Test title</h2>
		<p>This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text.</p>
	</div>
	
	<div>
		<h2>Test title 2</h2>
		<p>This is some test text. This is some test text. This is some test text. This is some test text. This is some test text. This is some test text.</p>
	</div>
	</body>
</html>